{% extends 'base.html.twig' %}

{% form_theme formLogin 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1 class="regCon"> Inscription </h1>
			<hr class="divider my-4">
            {{ form_start(formLogin) }}
                {{ form_row(formLogin.userName, {'label': "Nom d'utilisateur",'attr': {'placeholder': "Nom d'utilisateur", 'class': 'form-control'}})}}
                {{ form_row(formLogin.password, {'label': "Mot de passe",'attr': {'placeholder': "Mot de passe", 'class': 'form-control'}})}}
                {{ form_row(formLogin.confirm_password, {'label': "Confirmation du mot de passe", 'attr': {'placeholder': "Confirmez votre mot de passe", 'class': 'form-control'}})}}
                {{ form_row(formLogin.RGPD, {'label': "Je consens que ce site Web stocke les données soumises afin qu'il puisse répondre à ma demande sur le formulaire d'inscription"}) }}
                <input type="submit" class="btn formButton" value="Inscription" />
            {{ form_end(formLogin) }}
        </div>
    </section>
{% endblock %}
