{% extends "base.html.twig" %}

{% block body %}
    <section class="page-section">
        <div class="container">    
            <article>
                <h2>{{ project.title }}</h2>
                <div class="metadata">écrit le {{ project.createdAt | date('d/m/Y')}} à {{ project.createdAt | date('H:i') }}</div>
                <div class="content">
                    <img src="{{ project.image }}" alt="Image du projet">
                    {{ project.description | raw }}
                </div>
                <a href="{{ project.url }}" class="btn btn-primary" target="_blank">Visiter le site</a> 
            </article>
        </div>
    </section>
{% endblock %}