{% extends "base.html.twig" %}

{% block body %}
    
    <article>
        <h2>{{ project.title }}</h2>
        <div class="metadata">écrit le {{ project.createdAt | date('d/m/Y')}} à {{ project.createdAt | date('H:i') }}</div>
        <div class="content">
            <img src="{{ project.image }}" alt="">
            {{ project.description | raw }}
        </div>
    </article>

{% endblock %}