{% extends 'base.html.twig' %}

{% block body %}
	<section class="page-section" id="portfolio-section">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h2 class="mt-0">
					Portfolio
				</h2>
				<hr class="divider my-4">
			</div>
			{% if not app.user %}
				<div class="alert alert-primary" role="alert">
					Connectez-vous si vous souhaitez liker un de mes projets ! 
					<a href="{{ path('security_login') }}">Se connecter</a>
				</div>
			{% endif %}
		</div>
		<!-- Portfolio-->
		<div id="portfolio">
			<div class="container-fluid p-0">
				<div class="row no-gutters">
					{% for project in projects %}
						<div class="col-lg-4 col-sm-6 portfolio-item">
							<a class="portfolio-box" href="{{ project.url }}" target="_blank">
								<img class="img-fluid" src="{{ project.image }}" alt=""/>
								<div class="portfolio-box-caption p-3">
									<div class="project-category text-white-50">Category</div>
									<div class="project-name">{{ project.title }}</div>
								</div>
							</a>
							<div>
								<a href="{{ path('portfolio_like', {'id': project.id}) }}" class="btn btn-link js-like">
									{% if app.user and project.isLikedByUser(app.user) %}
										<i class="fas fa-thumbs-up"></i>
									{% else %}
										<i class="far fa-thumbs-up"></i>
									{% endif %}
									<span class="js-likes">{{ project.likes | length }}</span>
									{% if app.user and project.isLikedByUser(app.user) %}
									    <span class="js-label">Je n'aime plus</span>
                                    {% else %}
									    <span class="js-label">J'aime</span>
                                    {% endif %}    
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="js/scripts.js"></script>
{% endblock %}
