{% extends 'base.html.twig' %}

{% form_theme formProject 'bootstrap_4_layout.html.twig' %}

{% set title = "Création d'un projet" %}
{% set inputButton = "Ajouter le projet" %}
{% if editMode %}
    {% set title = "Modification d'un projet" %}
    {% set inputButton = "Modifier le projet" %}
{% endif %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1>{{ title }}</h1>
            {{ form_start(formProject) }}
                {{ form_widget(formProject) }}
                {# {{ form_row(formProject.title) }}
                {{ form_row(formProject.description) }}
                {{ form_row(formProject.image) }} #}
            {{ form_errors(formProject) }}
            <input type="submit" class="btn formButton" value="{{ inputButton }}" />
            {{ form_end(formProject) }}
        </div>
    </section>

{% endblock %}

