{% extends 'base.html.twig' %}

{% form_theme formProject 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <section class="page-section">
        <div class="container">
            <h1> Création d'un projet </h1>

            {{ form_start(formProject) }}
                {{ form_row(formProject.title) | e('js')}}
                {{ form_row(formProject.description)| e('js') }}
                {{ form_row(formProject.image)| e('js') }}
                {{ form_row(formProject.url)| e('js') }}
                {{ form_errors(formProject) }}
                <input type="submit" class="btn formButton" />
            {{ form_end(formProject) }}
        </div>
    </section>
{% endblock %}

