{% extends 'base.html.twig' %}

{% form_theme formProject 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container">
        {% if editMode %}
            <h1> Modification du projet </h1>
        {% else %}
            <h1> Création d'un projet </h1>
        {% endif %}

        {{ form_start(formProject) }}
            {{ form_widget(formProject) }}
        {{ form_end(formProject) }}

        {# {{ form_start(formProject) }} 

        <div class="form-group">
            {{ form_row(formProject.title, {'label' : 'Titre du projet', 'attr' : {'placeholder' : "Titre du projet", 'class': 'form-control'}})}}
        </div>
        <div class="form-group">
            {{ form_row(formProject.description, {'label' : 'Description du projet', 'attr' : {'placeholder' : "Description du projet", 'class': 'form-control'}})}}
        </div>
        <div class="form-group">
            {{ form_row(formProject.image, {'label' : 'Image du projet', 'attr' : {'placeholder' : "Image du projet", 'class': 'form-control'}})}}
        </div> #}

        <button type="submit" class="btn formButton">
            {% if editMode %}
                Modifier le projet
            {% else %}
                Ajouter le projet
            {% endif %}
        </button>

        {{ form_end(formProject) }}
    </div>

{% endblock %}

